		<div class="footer-wrapper" style="height: 70px;">	
			<div class="container">					
			<!-- Footer -->
				<footer>
				<!-- 	<p><img src="images/twitter.png" alt="twitter" />&nbsp;<img src="images/facebook.png" alt="facebook" />&nbsp;<img src="images/rss.png" alt="rss" /></p> -->
					<p>Copyright &copy; ABC Organisation | <a href="http://skeljs.org/">skel.js</a> | <a href="http://fotogrph.com/">Images</a> | <a href="http://www.css3templates.co.uk">design from css3templates.co.uk</a></p>
				</footer>		
			</div>
		</div>