		<div id="header_container">		
		    <div class="container">
			<!-- Header -->
				<div id="header" class="row">
					<div class="4u">
						<div class="wrapper">
							<h1><a href="index.html">ABC<span class="header_colour">Organisation</span></a></h1>
							<h2>Organisation tag line goes here</h2>
					    </div>
					</div>
					<nav id="main-nav" class="8u">
						<ul style="font-weight: bold;">
							<li><a class="active" href="#home">Home</a></li>
							<li><a href="#example">Examples</a></li>
							<li><a href="#aPage">A Page</a></li>
							<li><a href="#">Another Page</a></li>							
							<li><a href="#">Example Drop Down</a></li>
							<li><a href="#contact">Contact</a></li>
						</ul>
					</nav>
				</div>
			</div>	
        </div>	